{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "18"
        },
        "modules": "commonjs"
      }
    ]
  ],
  "ignore": [
    "src/hooks/**/*"
  ]
}